extends ../layout/mycenterLayout

block content
	.rtitle
		h1 修改登录密码
		a.mt(href="/user/security")
			i
		span
			input(id="newPassword",type="button",value="保存",onclick = "return newPassword()")
	form(action="/server/supermarketUpdate",method='post',id="signupForm")
		.center
			.bind
				label
					span 输入旧密码:
					input(type="password",id="password", placeholder='请输入旧密码')
					input(type="hidden",id="yan",value="")
					input(type="hidden",id="smid",value="#{user.content.smid}",name="user[smid]")
			.bind
				label
					span 输入新密码:
					input(type="password",id="newpassword",name="user[loginPassword]" placeholder='请输入新密码')
			.bind
				label
					span 确认新密码:
					input(type="password",id="unewpassword", placeholder='请确认新号码')
					p 密码8-20个字符，含字母数字字符，字母分大小写。
	script(src='/js/user/password.js')