extends ../layout/mycenterLayout

block content
	.rtitle
		h1 设置
		a.mt(href="/user/myCenter")
			i
	.bar
		a(href="/user/security")
			p
				span 安全中心
				span.gt
		a(href="/user/about")
			p
				span 关于我们
				span.gt
	.fot
		a(href="/server/logout") 退出登录