extends ../layout/layout

block content
	.rtitle
		h1 找回密码
		a(href="/forgot") &lt;
	.forgot
		.title
			h3 2、输入新密码
		form(action='/server/forgetSupermarketLoginPassword', method='post')
			p.nname
				span 密码
				input(type='password', placeholder='请输入密码', name='user[loginPassword]',id="loginPassword")
			p.nverity
				span 确认密码
				input(type='password', placeholder='请确认密码', name='upassword',id="upassword")
			.fsub
				input(type="hidden",name="user[mobile]",value='#{user.mobile}')
				input(type="hidden",name="user[code]",value='#{user.code}')
				input.btn(type='submit', value='完成',id="forgotOver",onclick="return forgotOvern()")