extends ../layout/noticeLayout

block content
	.rtitle
		h1 快消公告
		a(href="/") &lt;
	.noticee
		script(src='/js/noticeMore.js')
		each i in items
			.content
				.img
					p
						a(href="/oneNotice/#{i.announcementId}")
							img(src="/img/s36.png", alt="", width='45', height='45')
				a(href="/oneNotice/#{i.announcementId}")
					.txt
						p
							span.kt 快消公告
							span.data #{i.createTime}
						p.notice #{i.title}