extends ../layout/purchaseLayout

block content
	.rtitle
		h1 货到付款
		a(href="/order")
			i
	.paysuccess
		p.one
			img(src="/img/chenggong.png")
		p.ok 恭喜！订单提交成功！
		p
			a.back(href="/") 继续购物
			a.cat(href="/order") 查看订单